{% extends 'base.html' %} {% block title %} Uredi izlet {% endblock %} {% block
body %}

<h1 class="mb-4">✏️ Uredi izlet</h1>

<form action="/uredi/{{ izlet.id }}" method="POST">
  <div class="mb-3">
    <label class="form-label"> Naziv planine </label>

    <input
      type="text"
      name="naziv_planine"
      class="form-control"
      value="{{ izlet.naziv_planine }}"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label"> Datum </label>

    <input
      type="date"
      name="datum"
      class="form-control"
      value="{{ izlet.datum }}"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label"> Kilometraža </label>

    <input
      type="number"
      step="0.1"
      name="kilometraza"
      class="form-control"
      value="{{ izlet.kilometraza }}"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label"> Broj sudionika </label>

    <input
      type="number"
      name="broj_sudionika"
      class="form-control"
      value="{{ izlet.broj_sudionika }}"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label"> Nadmorska visina </label>

    <input
      type="number"
      name="nadmorska_visina"
      class="form-control"
      value="{{ izlet.nadmorska_visina }}"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Spremi</button>
</form>

{% endblock %}
